.nft-select-box {
  background-color: white;
  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.1500);
  border-radius: 4px;
  width: 500px;
  position: fixed;
  left: 50%;
  margin-left: -250px;
  top: 300px;
  display: none;
  animation: slideUp .5s ease both;
}

.nft-select-box.visible {
  display: block;
}


@keyframes slideUp {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


.id-selection {
  display: flex;
  width: 500px;
  height: 200px;
  padding: 10px 10px 0;
  justify-content: space-between;
}

.unselected {
  border-right: 1px solid;
  flex-basis: 49%;
  flex-wrap: wrap;
  display: flex;
  overflow-y: scroll;
  align-content: flex-start;
}

.unselectedItem {
  width: 50px;
  height: 20px;
  line-height: 20px;
  display: flex;
  border-radius: 2px;
  margin: 2px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.unselectedItem:hover {
  cursor: pointer;
  border: 1px solid;
}

.selected {
  flex-basis: 49%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
}

.selectedItem {
  height: 24px;
  line-height: 24px;
  flex-basis: 50px;
  display: flex;
  border-radius: 2px;
  margin: 2px;
  text-align: center;
  border: 1px solid;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  padding: 4px;
}

.deleteSelectedItem{
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url('src/burn/components/nftSelect/icons8-close-30.png') center;
  background-size: contain;
}

.deleteSelectedItem:hover {
  cursor: pointer;
}

.select-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 12px;
}

.select-actions .ui-button {
  width: 80px;
}