@tailwind base;
@tailwind components;
@tailwind utilities;


html body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    font-size: 16px;
}

header {
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 2;
}

header .link {
    margin-right: 20px;
    border-bottom: 1px solid currentColor;
}

header .link:hover {
    color: #999;
}

.logo {
  background: url(./logo.png) no-repeat center;
  background-size: contain;
  width: 100px;
  height: 100px;
  filter: drop-shadow(5px 5px 5px rgba(255,255,255,.6));
}

.header-actions {
    display: flex;
    align-items: center;
}

.video {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.connect-button {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-item {
        width: 80px;
        height: 44px;
        line-height: 44px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }
}
